<!DOCTYPE html>
<html>
<head>
  <title>{%if page.title%}{{page.title}} | {%endif%}{{site.name}}</title>
  <link rel="shortcut icon" href="/images/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <meta name="description" content="{{ site.bio }}" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>
{% include header.html %}
<div id="yield">
  {{ content }}
</div>
{% include nav.html %}
<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script src="/assets/app.js"></script>
-->
</body>
</html>
